.toggle-on, .toggle-off {
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
} .toggle-on {
    color: white;
    background-color: black;
} .toggle-off {
    background-color: rgb(240, 240, 240);
    color: black;
}