p {
    text-align: center;
    margin: 20px 0px;
    font-family: Arial;
}
.line-1 {
    font-weight: bold;
    font-size: 30px;
}
.line-2 {
    font-size: 15px;
}
.line-3 {
    font-size: 15px;
    color: blue;
}