p {
    text-align: center;
    font-family: Arial;
    margin: 10px 0px;
}
.buy-button {
    font-family: Arial;
    padding: 5px 8px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: blue;
    text-align: center;
}
.line-1 {
    font-family: 10px;
    color: orange;
}
.line-2 {
    font-size: 18px;
    font-weight: bold;
}
.line-3 {
    font-size: 30px;
    font-weight: bold;
}
.line-4 {
    color: #606060;
    font-size: 15px;
}
.line-5 {
    margin-top: 15px;
}