{% extends "base.html" %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
    <body class = "text-center">
        <div class = "container" style="width: 400px;">
            <form method = "POST" class = "form-signin" style = "color: white;">
                {{ form.hidden_tag() }}

                <img src = "{{ url_for('static', filename='images/discord.jpg') }}" style = "width: 150px; height: 150px; border-radius: 50%; margin: 30px; object-fit: contain; background-color: black;">

                <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
                <br>

                {{ form.username.label() }}
                {{ form.username(class = "form-control mb-1", placeholder = "User Name") }}
    
                {{ form.password.label() }}
                {{ form.password(class = "form-control mb-4", placeholder = "Password") }}

                {{ form.submit(class = "btn btn-lg btn-block btn-primary mt-2") }}
                <br>

                <div class = "checkbox mb-3">
                    <h6>Do not have an account?</h6>
                    <a class = "btn btn-sm btn-secondary" href = "{{ url_for('register_page') }}">Register</a>
                </div>

            </form>
        </div>
    </body>
{% endblock %}