.bootstrap-getstarted-button {
    background-color: rgb(121, 82, 179);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.bootstrap-getstarted-button:hover {
    background-color: rgb(101, 62, 159);
}
.bootstrap-download-button {
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-radius: 3px;
    background-color: white;
    padding: 9px 14px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.15s, background-color 0.15s;
}
.bootstrap-download-button:hover {
    color: white;
    background-color: rgb(108, 117, 125);
}