div {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

p {
    padding: 0px 12px;
    margin: 5px 0px;
}

button {
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: rgb(0, 100, 255);
    border: none;
    border-radius: 5px;
    color: white;
}

.line-1 {
    font-weight: bold;
    font-size: 18px;
}

.line-2 {
    color: #606060;
}